#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: red;
  margin-top: 60px;  
  margin: auto;
}
#controls {
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
#instructions {
  margin-top: 2em;
  text-align: center;
}
button {
  background-color: #ac8525;
  color: ;#b3d5c7
}

canvas {  
  border: 3px solid black;  
}